body{
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.container{
    width: 980px;
    margin: auto;
    
}

.container-left{
    padding-top: 20px;
    padding-bottom: 20px;

}

.logo{
    float: left;
    margin-right: 5px;
}



.menu{
    float: left;
}

.menu-item{
    float: left;
    padding: 8px 10px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}