body {
    font-family: 'Noto Sans', "맑은 고딕", sans-serif;
}

.top-menu {
    display: flex;
}

.top-logo {
    display: flex;
    align-items: center;
}
.top-menu a{
    font-size: 13px;
    text-decoration: none;
    color: darkgray;
}

.top-logo a{
    padding: 12px 30px;
    border-right: 1px solid darkgray;
    margin: auto 0;
}

.top-right a{
    padding: 10px 20px;

}
.top-right a:nth-child(4) { 
    margin-right: 40px;
}
.top-right {
    display: flex;
    align-items: center;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.jordan {
    width: 17px;
}

.converse {
    width: 100px;
}

.top-menu img {
    opacity: 0.2;
}
.mid-menu {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    align-items: center;
}

.mid-menu a{
    text-decoration: none;
    color: #000;
    font-weight: 900;
    padding: 0 20px;
}

.search {
    display: flex;
    width: 224px;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    width: 60px;
}

.card {
    width: 100%;
    margin: 0 3rem;
}

video {
    border: none;
    width: 100%;
}

.headline {
    font-family: 'Noto Sans KR', sans-serif;

    display: flex;
    justify-content: center;
    font-size: 43px;
    font-weight: 700px;
    margin: 13px 0;
}

.card-content {
    display: flex;
    justify-content: center;
}

button {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 8px 25px;
}

.button-div {
    display: flex;
    width: 100%;
}